<div class="container">
    <h4>Aplicación en AngularJS</h4>
    <p>Esta aplicación web está desarrollada con las tecnologías web siguientes: AngularJS, Express, NodeJS y MongoDB. Con el fin de ilustrar un simple ejemplo del funcionamiento de las mismas para almacenar un listado de guachinches de la isla. Esta aplicación servirá de guía para la presentación de las tecnologías con las que han sido desarrollada para la asignatura de grado en ingeniería informática de la Universidad de La Laguna, Sistemas y Tecnologías Web.</p>
</div>